<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>It Works!</title>
  {{ style('assets/css/style') }}
</head>
<body>
  <section>
    <div class="title"></div>
  </section>
</body>
</html>
